/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
          display: none;
        }
      
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
}
      

/* Custom styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
